@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.head{
    margin-left: 20% !important;
}

.brand{
    color: orange !important;
    font-size: 30px !important;
    font-weight: bold;
    font-family: 'Poppins' !important;
}
.subbrand{
    color: #2D2E40 !important;
    font-size: 25px;
}

.menue-item{
    font-family: 'Poppins' !important;
    margin-left: 10px;
    font-weight: bold;
    transition: .5s;
    font-size: 12px;
}
.menue-item:hover{
    font-family: 'Poppins' !important;
    margin-left: 20px;
    color: orange !important;
    font-size: 12px;
}
.button{
    color: black;
    background-color: orange;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    font-family: 'Poppins', sans-serif;
}